.container {
  height: 100vh;
  background-color: rgb(240, 240, 240);
  color: rgb(99, 99, 99);
  padding: 2% 15%;
  display: flex;
  align-content: center;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
  align-content: center;
}

.header {
  color: rgb(49, 49, 49);
  grid-column: span 4;
  margin-bottom: calc(8vh - 2%) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header > :global(.section-header) {
  transform: translateX(0);
  opacity: 1;
  transition: transform 500ms ease, opacity 500ms ease;
}

.header > .headerUnderline {
  transform: translateX(0);
  opacity: 1;
  transition: transform 500ms ease 250ms, opacity 500ms ease 250ms;
}

.header > :global(.hidden) {
  transform: translateX(-10vw);
  opacity: 0;
}

.headerUnderline {
  width: 5em;
  height: 5px;
  background: rgb(49, 49, 49);
}

.bioContainer {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 500ms ease, opacity 500ms ease;
}

.bioContainer:global(.hidden) {
  transform: translateX(-10vw);
  opacity: 0;
}

.headshot {
  width: 40%;
  border-radius: 500px;
  margin-bottom: 12px;
}

.headshotTag {
  color: rgb(49, 49, 49);
  white-space: nowrap;
  margin-bottom: 12px;
}

.blurb {
  width: 75%;
  text-align: center;
}

.pLink {
  font-weight: 700;
}

.pLink:hover {
  text-decoration: underline;
}

.chartContainer {
  grid-column: span 2;
  justify-content: center;
  transition: transform 500ms ease, opacity 500ms ease;
}

.chartContainer:global(.hidden) {
  transform: translateX(10vw);
  opacity: 0;
}