.container {
  height: 100vh;
  background-color: whitesmoke;
  color: rgb(99, 99, 99);
  padding: 2% 10%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3%;
  align-content: center;
}