.card {
  box-sizing: border-box;
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border-radius: 8px;
  display: grid;
  height: inherit;
  grid-template-rows: 3fr 2fr;
}

.top {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.bottom {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 50% 1fr auto;
  grid-auto-flow: column;
  line-height: 1.333;

  .title {
    margin: 0;
    padding: 12px 12px 6px 12px;
  }

  h3 {
    font-weight: bold;
    padding-bottom: 1px;
    border-style: solid;
    border-width: 0 0 4px 0;
    margin: 0;
    display: inline;
  }

  p {
    color: rgb(43, 43, 43);
    margin: 0;
    padding: 12px;
  }

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
  }

  .tools {
    padding-left: 12px;
    align-content: center;
    grid-column: span 2;

    li {
      margin: auto 4px auto 0;
    }
  }

  .logo {
    grid-row: span 2;
    padding: 12px;
    height: 100%;
    max-height: 120px;
    margin: auto;
  }

  .links {
    padding: 14px 12px 0 12px;
    grid-row: span 2;
    justify-self: end;

    li {
      margin-left: 8px;
      margin-bottom: 0;
    }

    li:nth-of-type(1) {
      margin-left: 0;
    }
  }

  .tag {
    justify-self: end;
    align-self: end;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 0px 0px 8px;
    padding: 12px 12px 12px 24px;
  }
}

.bottomRight {
  padding: 8%;
}