.card {
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border-radius: 8px;
  display: grid;
  height: inherit;
  grid-template-rows: 3fr 2fr;
  grid-template-columns: 1fr 1fr;
}

.top {
  grid-column: span 2;
}

.bottomLeft {
  overflow: hidden;
  ul {
    list-style-type: none;
    margin: 4px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.bottomRight {

}