.card {
  border: solid 3px rgb(206, 206, 206);
  border-radius: 6px;
  background: rgb(41, 41, 41);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.header {
  grid-column: span 3;
}

.title {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  background: rgb(206, 206, 206);
  padding: 12px 32px 8px 8px;
  color: rgb(43, 43, 43);
  clip-path: polygon(0px 0%, 100% 0%, calc(100% - 30px) 100%, 0% 100%);
}

.description {
  padding: 12px;

  ul {
    list-style-type: none;
    margin: 4px 0 0 0;
    display: flex;
    flex-wrap: wrap;

    li {
      font-size: 14px;
      margin: 8px 8px 0 0;
      border: solid 2px;
      border-radius: 4px;
      padding: 4px 6px;
    }
  }
}

.imgContainer {
  display: grid;
  grid-column: span 2;
  justify-content: center;
}

.img {
  padding: 12px !important;
  margin: 0 !important;
}