.container {
  height: 70vh;
  background-color: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: rgb(228, 228, 228);
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerUnderline {
  width: 6em;
  height: 5px;
  background: rgb(228, 228, 228);
}

.header > :global(.section-header) {
  opacity: 1;
  transition: transform 500ms ease, opacity 500ms ease;
}

.header > .headerUnderline {
  opacity: 1;
  transition: transform 500ms ease 150ms, opacity 500ms ease 150ms;
}

.header > :global(.hidden) {
  transform: translateY(10vh);
  opacity: 0;
}

.logos {
  display: flex;
  margin-bottom: 3vh;
}

.logoWrapper {
  margin: 0 1em;
}

.icon {
  fill: rgb(214, 214, 214);
  transition: transform 250ms ease, fill 250ms ease, opacity 500ms ease 500ms;
}

.icon:global(.hidden) {
  opacity: 0;
}

.icon:hover {
  transform: scale(1.1, 1.1);
}

.one:hover {
  fill: rgb(34, 94, 168)
}

.two:hover {
  fill: rgb(65, 182, 196);
}

.three:hover {
  fill: rgb(169, 198, 153);
}

.subheader {
  font-size: 1.1em;
  margin-bottom: 3vh;
  color: rgb(227, 27, 109);

  span {
    display: inline-block;
    transition: transform 500ms ease 750ms, opacity 500ms ease 750ms;
  }
}

.subheaderLeft:global(.hidden) {
  opacity: 0;
  transform: translateX(-10vw);
}

.subheaderRight:global(.hidden) {
  opacity: 0;
  transform: translateX(10vw);
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  transition: transform 750ms cubic-bezier(.19,.74,.65,1.25) 1000ms;

  input,
  textarea {
    color: rgb(228, 228, 228);
    padding: 0.5rem 1.0rem;
    margin-bottom: 8px;
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    transition: box-shadow 90ms ease-out, border-color 90ms ease-out;
  }

  input:focus,
  textarea:focus {
    outline: 0px;
    box-shadow: rgba(34, 94, 168, 0.25) 0px 0px 0px 0.2rem;
    border-color: rgba(34, 94, 168, 0.6);
    transition: box-shadow 90ms ease-in, border-color 90ms ease-in;
  }

  .sendOuter {
    align-self: flex-end;
    margin-top: 8px;
    padding: 4px;
    border-radius: 4px;
    background: linear-gradient(60deg, rgb(34, 94, 168), rgb(65, 182, 196), rgb(169, 198, 153), rgba(255, 255, 217, 0.9), rgb(169, 198, 153), rgb(65, 182, 196), rgb(34, 94, 168));  }
  
  .sendInner {
    background: rgb(26, 26, 26);
    color: rgb(228, 228, 228);
    font-weight: bold;
    font-size: 16px;
    padding: 0.3em 1em;
    border-width: 0px;
    border-radius: 4px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sendInner:hover {
    background: unset;
    color: rgb(35, 35, 35);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
}

.form:global(.hidden) {
  opacity: 0;
  transform: scale(0.01, 0.01);
}

.pageBottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: auto;

  h6 {
    opacity: 0.75;
  }
}

.topButtonWrapper {
  background-color: rgb(227, 27, 109);
  padding: 0.75em 0.5em;
  border-radius: 4px;
  margin-bottom: 2em;
  overflow: hidden;
  transition: transform 250ms ease;
}

.topButtonWrapper:hover {
  transform: translateY(-0.25em);
}

.topIcon {
  color: initial;
}

:global(.animated) {
  animation-name: flashUp;
  animation-duration: 750ms;
  animation-timing-function: steps(1, start);
  animation-delay: 150ms;
  animation-iteration-count: infinite;
}

@keyframes flashUp {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-1em);
  }
  40% {
    transform: translateY(-2.1em);
  }
  60% {
    transform: translateY(2.1em);
  }
  80% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0);
  }
}

.copyright {
  color: rgb(65, 182, 196);
}