.container {
  height: 70vh;
  background-color: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 5vh 0;
  font-size: 48px;
  color: rgb(228, 228, 228);
}

.logos {
  display: flex;
  margin-bottom: 3vh;
}

.logoWrapper {
  margin: 0 1em;
}

.subheader {
  font-size: 1.1em;
  margin-bottom: 3vh;
  color: rgb(227, 27, 109);
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;

  input,
  textarea {
    color: rgb(228, 228, 228);
    padding: 0.5rem 1.0rem;
    margin-bottom: 8px;
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
  }

  input:focus,
  textarea:focus {
    outline: 0px;
  }

  .one:focus {
    box-shadow: rgba(34, 94, 168, 0.25) 0px 0px 0px 0.2rem;
    border-color: rgba(34, 94, 168, 0.6);
  }

  .two:focus {
    box-shadow: rgba(65, 182, 196, 0.25) 0px 0px 0px 0.2rem;
    border-color: rgba(65, 182, 196, 0.6);
  }

  .three:focus {
    box-shadow: rgba(169, 198, 153, 0.25) 0px 0px 0px 0.2rem;
    border-color: rgba(169, 198, 153, 0.6);
  }

  .sendOuter {
    align-self: flex-end;
    margin-top: 8px;
    padding: 4px;
    border-radius: 4px;
    background: linear-gradient(60deg, rgb(34, 94, 168), rgb(65, 182, 196), rgb(169, 198, 153), rgba(255, 255, 217, 0.9), rgb(169, 198, 153), rgb(65, 182, 196), rgb(34, 94, 168));  }
  
  .sendInner {
    background: rgb(26, 26, 26);
    color: rgb(228, 228, 228);
    font-weight: bold;
    font-size: 16px;
    padding: 0.3em 1em;
    border-width: 0px;
    border-radius: 4px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sendInner:hover {
    background: unset;
    color: rgb(35, 35, 35);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
}

.topButtonWrapper {
  display: flex;
  align-content: center;
  background-color: rgb(227, 27, 109);
  padding: 0.75em 0.5em;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: 3em;
}