.landing-container {
  background: #ffffd9;
  height: 100vh;
}

.header-container {
  display: grid;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: rgb(8, 29, 68);
  height: 75vh;

  h1 {
    font-size: 42px;
  }
}

.header-name {
  color: rgb(173, 173, 173);
  margin-bottom: 12px;
}

.name-text {
  color: rgb(227, 27, 109);
}

.header-role {
  color: rgb(228, 228, 228);
  margin-bottom: 24px;
}

.header-button {
  padding: 6px;
  border-radius: 4px;
  background: linear-gradient(60deg, rgb(34, 94, 168), rgb(65, 182, 196), rgb(169, 198, 153), rgba(255, 255, 217, 0.9), rgb(169, 198, 153), rgb(65, 182, 196), rgb(34, 94, 168));
}

.header-button-inner {
  background: rgb(5, 18, 41);
  color: rgb(228, 228, 228);
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.header-button-inner:hover {
  background: unset;
  color: rgb(35, 35, 35);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.parallax-row {
  width: 100%;
  background-repeat: repeat;
  height: 5px;
}

@for $i from 0 through 49 {
  #row#{$i} {
     animation: move #{5 - (($i+1)/12.5)}s linear infinite;
  }
}

@keyframes move {
 from {
   background-position: 0 0
 }
 to { 
   background-position: -500px 0
 }
}