$primary: rgb(179, 179, 179);
$accent: rgba(5, 199, 147, 1);

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: calc(100vw - (100vw - 100%));
}

a {
  color: inherit;
  text-decoration-line: none;
}

.layout {
  color: $primary;
  font-size: 16px;
  position: relative;
}

.section-header {
  font-size: 48px;
  color: rgb(82, 82, 82);
  text-align: center;
  margin: 2% 0 4% 0;
}