.container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: rgb(8, 29, 68);
  padding-right: 24px;
  position: absolute;
  width: 100%;
  height: 6vh;
  top: 0;
}

.fixed {
  position: fixed !important;
}

.link {
  align-self: center;
  color: rgb(236, 236, 236);
  padding: 4px 0;
  border-bottom: solid 4px transparent;
  font-size: 18px;
  font-weight: normal;
  margin-left: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-block-start: 0;
  margin-block-end: 0;
}

.current {
  color: rgb(227, 27, 109);
}

.link::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 0px;
  bottom: -8px;
  height: 5px;
  transition: width 0.3s ease-out;
}

.link:hover::after {
  left: 0px;
  right: auto;
  width: 100%;
}

.one::after {
  background: rgb(34, 94, 168);
}

.two::after {
  background: rgb(65, 182, 196);
}

.three::after {
  background: rgb(169, 198, 153);
}