.container {
  height: 100vh;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 32em;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
  margin: 0 2vw 5vh 2vw;
}

.header {
  color: rgb(49, 49, 49);
  margin-bottom: 8vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header > :global(.section-header) {
  transform: translateX(0);
  opacity: 1;
  transition: transform 500ms ease, opacity 500ms ease;
}

.header > .headerUnderline {
  transform: translateX(0);
  opacity: 1;
  transition: transform 500ms ease 250ms, opacity 500ms ease 250ms;
}

.header > :global(.hidden) {
  transform: translateX(10vw);
  opacity: 0;
}

.headerUnderline {
  width: 8em;
  height: 5px;
  background: rgb(49, 49, 49);
}