.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconWrapper {
  padding: 40px;
  border-radius: 100px;
  margin-bottom: 12px;
}

.one {
  background-color: rgb(8, 29, 68);
}

.two {
  background-color: rgb(34, 94, 168);
}

.three {
  background-color: rgb(65, 182, 196);
}

.four {
  background-color: rgb(169, 198, 153);
}

.icon {

}

.label {
  color: rgb(49, 49, 49);
  margin-bottom: 12px;
}

.description {
  width: 75%;
  text-align: center;
}